.container {
    height: 80px;
    color: white;
    width: 100%;
    padding: 0px;
    /* margin: px auto; */

    background: #0a0d15;
}

.link:active,
.link:visited {
    color: white;
}

.nav-item {
    display: flex;
    /* flex-direction: column;  */
    align-items: center;
}

.nav-item>a {
    margin: 0px;
    font-size: 1.2rem;
}